<!DOCTYPE html>
<html lang="">
<head>

<!-- Meta -->
{% load staticfiles %}
<title> {% block title %}{% endblock %} - Hannes Hermansson</title>
<link rel="icon" type="image/x-icon" href="{% static 'img/icon.png' %}">

<meta name="description" content="{% block desc %}{% endblock %}">
<!-- Theme color for chrome mobile -->
<meta name="theme-color" content="#">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!-- External -->

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-65091007-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-65091007-1');
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/1.1.0/trianglify.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.fullpage/2.9.4/jquery.fullpage.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<!-- Local -->

<link href="/static/css/pat/pat.css" rel="stylesheet">

{% load pipeline %}
{% stylesheet 'global' %}
{% javascript 'ui' %}

{% block head %}   {% endblock %}

</head>
<body>
{% block content %}



{% endblock %}
{% block tail %}   {% endblock %}
</body>
</html>
