{% extends "start/core.html" %} {% load staticfiles %} {% block title %}Start{% endblock %} {% block head %}
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,500,700" rel="stylesheet">

<script>
  $(document).ready(function() {
    $('#fullpage').fullpage({
      anchors: ['intro', 'first', 'second', 'third', 'Fourth'],
      responsiveWidth: 550
    });
  });
</script>

{% endblock %} {% block content %}

<div id="fullpage">
  <div class="section section01">
    <div class="section01-content flexy">
      <div class="section01-content-box boxy-small">
        <img src="{% static 'img/profile.jpg' %}" class="me-img noselect" draggable="false"></img>
        <div class="me">
          <div class="me-text">
            <h3>Hannes Hermansson</h3>
            <small>Maker / Programmer</small>
            <p>
              I am a 17 year programmer and tinkerer who love anything to do with web development, AI/Machine learning and microcontrollers.
            </p>
          </div>
        </div>
      </div>
      <div class="hero">

        <h2 class="hero-sub">Recent Posts<span class="content-dot hero-dot01" style="font-size:inherit !important; ">.</span></h2>

        <div class="hero-list artslider">

          {% for i in posts %}
          <a href="words/{{i.pk}}" class="prosqr">
            <div class="prosqr-wrap">
              <div class="cirfill"><i class="fa fa-paragraph ciricon" aria-hidden="true"></i></div>
              <h2 class="prosqr-title prosqr-title-solid ">{{i.title}}</h2>
            </div>
          </a>
          {% endfor %}

        </div>
        <h2 class="hero-sub">Recent Projects<span class="content-dot hero-dot02" style="font-size:inherit !important; ">.</span></h2>
        <div class="hero-list proslider">

          {% for i in pros %}
          <a href="words/projects#{{i.pk}}" class="prosqr">
            <div class="prosqr-wrap">
              <img src="{{i.img}}" class="prosqr-img" alt="project screenshot" />
              <h2 class="prosqr-title prosqr-title-solid">{{i.title}}</h2>
            </div>
          </a>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>


  <div class="section section02">
    <div class="section02-content flexy">
      <div class="section02-content-box boxy">
        <div class="boxy-content">
          <h1 class="content-headline">Tinkerer</h1>
          <h1 class="content-dot hero-dot01">.</h1>
          <p class="section-intro">
            I have always loved taking things apart and figure out how they work. Early on I taught myself the basics of electronics and started experimenting with basic circuits and micro-controllers. I later advanced to building 3D-printers and drones and other
            cool/useless stuff!
            <br><br>I have some of my projects up on instructables.<br> Click below to check it out!
          </p>
          <a href="https://www.instructables.com/member/HasseB/" target="_blank"><img src="{% static 'img/section01.jpg' %}" class="section-c2a noselect" draggable="false"></img></a>

        </div>
      </div>
    </div>
  </div>


  <div class="section section03">
    <div class="section03-content flexy">
      <div class="section03-content-box boxy">
        <div class="boxy-content">
          <h1 class="content-headline">Programmer</h1>
          <h1 class="content-dot hero-dot02">.</h1>
          <p class="section-intro">
            I was introduced to programming trough arduino and c++ was my first language. I later advanced to Python and JavaScript among others. My interests within programming lies in web apps and machine learning with python as my language of choice.
            <br><br>Some of my projects can be found on my github below!
          </p>
          <a href="https://github.com/hanzketup" target="_blank"><i class="fa fa-github fa-5x section-icon section-git" aria-hidden="true" title="My (so far) inactive github profile"></i></a>

        </div>
      </div>
    </div>
  </div>


  <div class="section section04">
    <div class="section04-content flexy">
      <div class="section04-content-box boxy">
        <div class="boxy-content">
          <h1 class="content-headline">Photographer</h1>
          <h1 class="content-dot hero-dot03">.</h1>
          <p class="section-intro">
            I have always loved photography and being able to capture something the eye can't. I like taking pictures with character and do alot of macro and landscape photgraphy when i get the chance.
            <br>I have a selection of my pictures below:
          </p>
          <a href="/photos"><i class="fa fa-picture-o fa-5x section-icon section-camera" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>


  <div class="section section05">
    <div class="section05-content flexy">
      <div class="section05-content-box boxy">
        <div class="boxy-content">
          <h1 class="content-headline">The end</h1>
          <h1 class="content-dot  hero-dot01 footer-dot">.</h1>
          <div class="footer-menu">

            <a href="#" class="footer-btn footer-contact">Contact</a>
            <p class="foot-sep">||</p>
            <a href="https://www.upwork.com/o/profiles/users/_~01a2afee99d944b339/" target="_blank" class="footer-btn footer-hire">Hire me!</a>

          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %} {% block tail %}
  <script>
    $(document).ready(function() {
      [$('.artslider'), $('.proslider')].forEach(function(item) {
        item.slick({
          slidesToShow: 3,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 4000,
          variableWidth: true,
        });
      });
    });
  </script>
  {% endblock %}
