.wrap {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #555f61;
}


/* SIDEBAR */

aside {
  position: fixed;
  left: 0;
  background-color: #34495e;
  height: 100%;
  width: 20rem;
}

.talk-me {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  padding: 0rem 3rem;
  background-color: #2c3e50;
}

.talk-me-img {
  width: 4rem;
  border-radius: 50%;
}

.talk-me-text {
  margin: 0;
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
  color: #ecf0f1;
  font-family: 'Roboto', sans-serif;
}

.amenu{

display: flex;
flex-direction: column;
justify-content: center;

list-style: none;

padding:0;
margin:0;
width: 100%;

}

.amenu-item{

display: flex;
justify-content: space-between;
align-items: center;

padding:0 2rem;

width: auto;
height: 5rem;

cursor: pointer;
transition: 0.5s ease;

border-bottom: 1px solid rgba(44, 62, 80,0.5);

font-size: 1.6rem;
font-weight: 300;
color:rgba(236, 240, 241,1.0);

}.amenu-item:hover{

transform: translateX(10px);

}


/*ARTICLE*/

article {
  height: 100%;
  width: 100%;
}

.article {
  min-height: 150%;
  margin-left: 20rem;
}

.article-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(26, 188, 156, 1.0);
  height: 6rem;
}

.article-title h1 {
  flex: 8;
  color: rgba(236, 240, 241, 1.0);
  text-align: center;
  text-overflow: ellipsis;
  margin: 0;
  padding: 1rem 2rem;
  font-size: 2.0rem;
  font-weight: 300;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 2.0rem;
  color: rgba(22, 160, 133, 1.0);
}

.cat, .pub {
  margin-right: 2rem;
  padding:0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex: 1;
  text-align: center;
  line-height: 140%;
  font-weight: 300;
  color: rgba(236, 240, 241, 1.0);
  background-color: rgba(22, 160, 133, 1.0);
}

.article-block {
  margin: 4rem;
  font-weight: 300;
}
