{% extends 'talk/talk-base.html' %}

{% block title %}{{title}}{% endblock %}

{% block article %}
<div class="article-title list-title">
  <h1>{{title}}</h1>
</div>

<div class="sqr-list">
  {% for i in posts %}
  <a href="words/{{i.pk}}" class="sqr-wrap">
    <div class="sqr">
      <div class="cirfill sqr-img"><i class="fa fa-pencil ciricon" aria-hidden="true"></i></div>
      <h2 class="sqr-title">{{i.title}}</h2>
    </div>
  </a>

  {% empty %}
  <h1 class="empty">Nothing here right now...</h1>
  {% endfor %}
</div>
{% endblock %}
