{% extends 'talk/talk-base.html' %}

{% block title %}{{title}}{% endblock %}

{% block article %}
<div class="article-title list-title">
  <h1>{{title}}</h1>
</div>

<div class="post-list-wrap">
{% for i in posts %}
<a href="/words/{{i.pk}}" class="post-list">
<div class="post-icon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
<div class="post-main">
<h1 class="post-title">{{i.title}}</h1>
<p class="post-short">{{i.short}}</p>
</div>
<div class="post-meta">
<p>Published On:<br>{{i.date}}</p>
<p>In Category:<br>{{i.cat.all.0}}</p>
</div>
</a>
{% endfor %}
</div>

{% endblock %}
