{% extends 'talk/talk-base.html' %}

{% block title %}{{title}}{% endblock %}
{% block desc %}{{short}}{% endblock %}

{% block article %}
<div class="article-title">
<a onclick="window.history.back();"><i class="fa fa-chevron-left back" aria-hidden="true"></i></a>


<h1>{{title}}</h1>
<div class="meta">
  <p class="pub">{{date}}</p>
  <p class="sep">||</p>
  <p class="cat">{{cat}}</p>
</div>

</div>

<div class="article-block">
  <div class="article-content">
  {{ content|safe }}
  </div>
</div>

{% endblock %}
