{% extends 'start/core.html' %}

{% block head %}
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,500,700" rel="stylesheet">
{% endblock %}

{% block content %}
{% load staticfiles %}
<div class="wrap">
<aside>

  <a href="/" class="talk-me">
    <img src="{% static 'img/profile.jpg' %}" class="talk-me-img noselect" draggable="false"></img>
      <h3 class="talk-me-title">Hannes<br>Hermansson</h3>
      <p class="talk-me-text">Short desc about this section of the site, including what will be written in the future</p>
    </a>

<ul class="amenu">

<li class="amenu-item">Latest posts<i class="fa fa-angle-right" aria-hidden="true"></i></li>
<li class="amenu-item catsw">Categories<i class="fa fa-angle-right" aria-hidden="true"></i></li>
<li class="amenu-item amenu-sub">-  Ramblings<i class="fa fa-angle-right" aria-hidden="true"></i></li>
<li class="amenu-item amenu-sub">-  Hardware<i class="fa fa-angle-right" aria-hidden="true"></i></li>
<li class="amenu-item amenu-sub">-  Arduino<i class="fa fa-angle-right" aria-hidden="true"></i></li>
<li class="amenu-item amenu-sub">-  Ai<i class="fa fa-angle-right" aria-hidden="true"></i></li>

<li class="amenu-item">Projects<i class="fa fa-angle-right" aria-hidden="true"></i></li>
<li class="amenu-item">About<i class="fa fa-angle-right" aria-hidden="true"></i></li>
<li class="amenu-item">contact<i class="fa fa-angle-right" aria-hidden="true"></i></li>

</ul>

<div class="amenu-bot">

<a href="#"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
<a href="#"><i class="fa fa-codepen fa-2x" aria-hidden="true"></i></a>

</div>
</aside>
<article>
{% block article %}



{% endblock %}

<div class="fab">
<i class="fa fa-bars fa-2x" aria-hidden="true"></i>
</div>

</article>
</div>
{% endblock %}
