{% extends 'start/core.html' %}

{% block head %}
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,700" rel="stylesheet">
{% endblock %}

{% block content %}
{% load staticfiles %}
<div class="wrap">
<aside>

  <a href="#" class="talk-me">
    <img src="{% static 'img/profile.jpg' %}" class="talk-me-img noselect" draggable="false"></img>
      <h3 class="talk-me-text">Hannes<br>Hermansson</h3>
    </a>

<ul class="amenu">

<li class="amenu-item">Latest posts<i class="fa fa-angle-right" aria-hidden="true"></i></li>
<li class="amenu-item">Ramblings<i class="fa fa-angle-right" aria-hidden="true"></i></li>
<li class="amenu-item">item<i class="fa fa-angle-right" aria-hidden="true"></i></li>
<li class="amenu-item">item<i class="fa fa-angle-right" aria-hidden="true"></i></li>
<li class="amenu-item">item<i class="fa fa-angle-right" aria-hidden="true"></i></li>

</ul>

</aside>
<article>
{% block article %}



{% endblock %}
</article>
</div>
{% endblock %}
